@import './includes/colors';
@import './includes/grid';

@import './includes/swiper';

@import './includes/common';
@import './includes/layout';
@import './includes/nav';
@import './includes/events';

.image-placeholder {
  display: block;
  width: 100%;
  height: auto;
}