* {
  box-sizing: border-box;
}

html {
  -ms-touch-action: none;
  -webkit-text-size-adjust: 100%;
}

html, body {
  min-height: 100%;
  height: 100%;
}

body {
  /*background: url(../img/bg.jpg) no-repeat center top;*/
  /*background-size: cover;*/
  background: #000 radial-gradient(#666, #000) no-repeat;
  min-width: 320px;
  margin: 0;
  color: #fff;
  font: 16px/1.5em 'Open Sans', Roboto, sans-serif;
  -webkit-text-size-adjust: 100%;
  position: relative;
}

audio {
  display: inline-block;
  vertical-align: baseline;
}

a {
  &:link, &:visited, &:hover {
    color: #00b4ff;
    text-decoration: none;
  }
  &:hover {
    text-decoration: underline;
  }
}

#play-pause {
  display: none;
}
.audio-wrap {
  width: 100%;
  flex-basis: 100%;
  text-align: center;
}
.player {
  display: none;
  margin: 0;
  min-width: 270px;
  max-width: 480px;
  border: 1px solid #999;
  background: #222;
  box-sizing: content-box;
}
.is-mobile {
  .player {
    display: initial;
  }
}
.audio {
  position: relative;
  width: 60px;
  margin-right: auto;

  @media (min-width: 480px) {
    & {
      width: 75px;
    }
  }
}
.track-info {
  width: 85%;
  padding: 0 0 0 15px;
  color: $color-yellow;
  font-size: 14px;
  line-height: 1.4em;

  @at-root .is-mobile & {
    width: 100%;
  }

  @media (min-width: 480px) {
    & {
      padding: 0 10px 0 0;
      font-size: 16px;
      line-height: 1.5em;
    }
  }

  &__name {
    display: block;
    color: #fff;
    overflow: hidden;
  }
  &__cover {
    display: block;
    float: left;
    overflow: hidden;
    width: 50px;
    height: 50px;
    margin: 0 20px 0 0;
    padding: 5px 0 0;

    @media (min-width: 480px) {
      & {
        padding: 0;
        width: 75px;
        height: 75px;
      }
    }

    //@media (min-width: 480px) {
    //  & {
    //    float: left;
    //  }
    //}
  }
  &__img {
    margin: 0;
    display: block;
    width: 50px;
    height: 50px;

    @media (min-width: 480px) {
      & {
        width: 75px;
        height: 75px;
      }
    }
  }
}
.controls {
  width: 100%;
  height: 100%;

  @at-root .is-mobile & {
    display: none;
  }

  &__toggle {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 0 0 0 5px;
    text-align: center;

    @media (min-width: 480px) {
      & {
        padding: 8px 0 0 20px;
      }
    }

    .play,
    .pause {
      display: inline-block;
      width: 30px;
      height: 50px;
      margin: 0;
      padding: 0;
      background: none;
      border: 0 none;
      outline: none;
      box-shadow: none;
      cursor: pointer;
      font-size: 0;
      line-height: 0;
      > svg {
        width: 100%;
        height: 100%;
      }
      &:hover > svg * {
        stroke: $color-yellow;
      }

      @media (min-width: 480px) {
        & {
          width: 50px;
          height: 60px;
        }
      }
    }
    .play {
      display: none;
    }
    .pause {
      display: inline-block;
    }
    &--stopped {
      .play {
        display: inline-block;
      }
      .pause {
        display: none;
      }
    }
  }
}