.wrapper {
  margin: 0 auto;
  max-width: 1280px;
  position: relative;
  width: 100%;
  height: calc(100% - 75px);
  min-height: calc(100% - 75px);
  background: rgba(17, 17, 17, 0.9);
}

.layout {
  display: flex;
  height: 100%;
  min-height: 100%;
  flex-direction: column;
}
.layout-header {
  /*background: rgba(17, 17, 17, 0.7);*/
  background: #111;
}
.layout-main {

}
.layout-content {
  flex: 3 0 0px;
  background: #111;
}
.layout-chat {
  flex: 2 0 0px;
  border-left: 2px solid #111;
}



.content-video {
  border-bottom: 2px solid #111;
}
.content-events {

}

.content-chat {
  /*background: #fff;*/
  max-height: 100%;
  padding: 0 0 10px;
  overflow-y: auto;
}




@media (min-width: $ipad) {
  .layout-header {
    height: 75px;
  }
  .layout-main {
    display: flex;
    flex: 1 0 0px;
  }
}