.nav {

  ul, li {
    margin: 0;
    padding: 0;
  }

  &__list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  &__item {
    display: block;
    list-style: none;
    flex: 1 0 0px;
    line-height: 1em;

    &:first-child {
      margin-right: auto;
    }

    &--logo {
      flex: 1 0 180px;
    }
  }
}

.nav a {
  margin: 0 10px;
  font-size: 14px;
  line-height: 1.6em;
}

.nav :link,
.nav :visited,
.nav a:hover {
  color: $color-yellow;
  text-decoration: none;
  border-bottom: 1px solid currentColor;
}

@media (min-width: $ipad) {
  .nav {
    padding: 0 20px 0 0;

    &__list {
      display: flex;
      justify-content: flex-end;
      align-items: center;
    }
  }
}